a {
	font: 40px Tahoma, "Times New Roman", Times, serif;
	color: black;
  font-style: bold;
	text-decoration
}
td {
  font:12px Tahoma, "Times New Roman",Times, serif;
}
.txt{
	padding: 3px 0px 0px 0px;
}
b {text-decoration: bold; color; 006660;}
.logo {
	font: 50px Tahoma, "Times New Roman", Times, Serif;
	color: rgb(0,1,5);
	letter-spacing:.4em;
}
.smallhdr {
	font:13px Tahoma, "Times New Roman", Times, serif;
	color: rgb (0,0,0);
	letter-spacing:.2em; 
	font-weight: bold;
}
h1 {
 	font-size: 70px; 
  color:rgb (0,0,5); 
  font-style:; 
  text-align:center;
  font:"Times New Roman", Times, serif; 
 }
h2 {
  font-size: 15px; 
  color: black; 
  text-align:left;
  font-style:;
  font:"Times New Roman", Times, serif; 
    }
p {
  font-size: 10px; 
  color:black; font-style:italic; 
  font:"Times New Roman", Times, serif; 
    }
input {
  font:"Times New Roman", Times, serif; 
  border: 0;
  padding: 10px;
  font-size: 20px;
  background: red;
  font-colors: black; 
  font-style:bold;
    }
input[type="submit"] {
  background: red;
  color: black; 
  font-size: 10px; 
  font-style: bold; 
    }
ul {
  font:"Times New Roman", Times, serif; 
  font-size: 12px; 
  padding: 0.1px;
  font-style:
  background: rgba(0,0,0,0);
    }
li {
  display: inline;
  padding: 0px 5px 0px 10px;
  article {margin:0 auto; 
  max-width: 200px; padding:20px;
	}
.twitter{
background-color: #00000;
font-size: 13px;
display: inline-block;
border-radius: 10px;
padding: 6px 15px 6px 15px;
border-radius: 20px;
text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
  div {
    height: 200px;
    background-size: cover;
    position: relative;
    border-radius: 12px;
    margin: 40px 0 0 0;
  }
form {background-color: rgb (34,169,156);
}
   

